{
  "extends": ["acme"],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["@", "./src"]],
        "extensions": [".js"]
      }
    }
  },
  "rules": {
    "no-shadow": "warn",
    "no-unused-vars": "warn",
    "react-hooks/exhaustive-deps": "warn",
    "react/function-component-definition": "off",
    "react/react-in-jsx-scope": "off"
  }
}
